<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-permission android:name="android.permission.NFC" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-feature android:name="android.hardware.nfc" android:required="true" />
	<application android:allowBackup="true" android:label="PillTap" android:theme="@style/Theme.PillTap">
		<activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.nfc.action.NDEF_DISCOVERED" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/vnd.com.ziacik.pilltap" />
			</intent-filter>
		</activity>
		<receiver android:name=".reminder.ReminderReceiver" android:exported="false" />
		<receiver android:name=".reminder.BootReceiver" android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
				<action android:name="android.intent.action.TIME_SET" />
			</intent-filter>
		</receiver>
		<service android:name=".wear.WearDataListenerService" android:exported="true">
			<intent-filter>
				<action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
			</intent-filter>
		</service>
	</application>
</manifest>
